
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*{
  padding: 0;
  margin: 0;
}
/* Navbar */

nav {
  background: white;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.1);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: rgb(0,146,71);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: rgb(0,146,71);
  transform: rotate(90deg);
}
.logo {
  height: 45px;
}
.links a {
  color: black;
  font-size:20px;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}
.links a:hover {
  color: rgb(121, 172, 146);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
    font-size: 20px;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: rgb(0,146,71);;
    transition: all 0.3s linear;
  }
  .social-icons a:hover {
    color: rgb(121, 172, 146);
  }
}